@model IEnumerable<ES_S2_G5.Entity.Article>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white fst-italic">Articoli</h1>

<p>
    <a asp-action="FormArticle" class="btn btn-outline-light">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="fst-italic text-white">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="fst-italic text-white">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="fst-italic text-white">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="fst-italic text-white">
                Copertina
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if(item.CoverImg == null)
                    {
                        <img src="~/images/Jordan 4.jpg" alt="No Image" style="width: 100px; height: 100px;" />
                    }
                    else
                    {
                        string ImgPath = $"~/images/{item.Id}.jpg";
                        <img src="@Url.Content(ImgPath)" alt="Immagine Copertina" style="max-width: 100px; max-height: 100px;" />
                    }
                </td>
           
            <td class="d-flex gap-3 text-white border border-light">
                <form asp-controller="Home" asp-action="Delete">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button class="btn btn-outline-danger" type="submit">Cancella</button>
                </form>
                <form asp-controller="Home" asp-action="Dettagli">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button class="btn btn-outline-warning" type="submit">Dettagli</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>
